// Variables
    // Color Variables

    // Typography Presets

    // Gap Presets

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    min-height: 100dvh;
    height: auto;
}